h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: #25274D;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .container .logo {
  display: flex;
  align-items: center;
}
header .container .logo svg {
  fill: #ffffff;
  height: 50px;
  width: 100px;
}
header .container .header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
header .container .header-nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
header .container .header-nav a:after {
  background-color: #A9ABB8;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
header .container .header-nav a:hover:after, header .container .header-nav a :focus:after {
  width: 100%;
}
header .container .header-nav a:hover, header .container .header-nav a .active {
  color: #A9ABB8;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.hero {
  background-image: url(../photos/bg-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10rem 0;
  margin-top: 5rem;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 20px;
}
.hero .container h3 {
  font-family: "Ledger";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 89px;
  text-align: center;
  color: #ffffff;
}
.hero .container svg {
  fill: #ffffff;
  height: 70px;
}
.hero .container p {
  font-family: "Ledger";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.hero .container hr {
  width: 300px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}

.page-bg {
  background-image: url(../photos/bg-photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page-bg .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.page-bg hr {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}

.study {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.study h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.study-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.study-block {
  width: 200px;
  background-color: #29658A;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  transition: 0.3s filter ease-in-out;
}
.study-block:hover {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.5));
}
.study-block svg {
  width: 60px;
  height: 60px;
  fill: #ffffff;
}
.study-block h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.study-block p {
  width: 146px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.programs h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.why-us {
  background-color: #923541;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}
.why-us .benefits {
  width: 677px;
}
.why-us .benefits h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}
.why-us .benefits ul {
  margin: 60px 0;
}
.why-us .benefits ul li {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
.why-us img {
  width: 677px;
  height: 582px;
}

@media screen and (max-width: 1200px) {
  .why-us {
    background-color: #923541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }
  .why-us .benefits {
    width: 677px;
  }
  .why-us .benefits ul {
    margin: 40px 0;
  }
  .why-us .benefits ul li {
    margin-top: 10px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .why-us {
    background-color: #923541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }
  .why-us img {
    width: 450px;
    height: 387px;
  }
  .why-us .benefits {
    width: 450px;
  }
  .why-us .benefits ul {
    margin: 40px 0;
  }
  .why-us .benefits ul li {
    margin-top: 10px;
    font-size: 18px;
  }
}
@media screen and (max-width: 475px) {
  .why-us {
    background-color: #923541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }
  .why-us img {
    width: 300px;
    height: 258px;
  }
  .why-us .benefits {
    width: 300px;
  }
  .why-us .benefits ul {
    margin: 40px 0;
  }
  .why-us .benefits ul li {
    margin-top: 10px;
    font-size: 18px;
  }
}
.vstup {
  background-color: #2C3034;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.vstup .apply {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vstup .apply h3 {
  margin-top: 30px;
  width: 440px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #FFFFFF;
}
.vstup .apply p {
  margin-top: 30px;
  width: 472px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
.vstup .apply button {
  margin-top: 30px;
  background-color: #C4C4C4;
  border-radius: 10px;
  padding: 20px 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #2C3034;
  border: 0;
  background-color: #923541;
  color: #FFFFFF;
  transition: 0.2s ease-in-out;
}
.vstup .apply button:active {
  background-color: #C4C4C4;
  color: #2C3034;
}
.vstup img {
  width: 677px;
  height: 582px;
}

@media screen and (max-width: 1200px) {
  .vstup {
    background-color: #2C3034;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }
  .vstup .apply {
    margin-left: 0px;
    align-items: center;
  }
  .vstup .apply h3 {
    width: 677px;
  }
  .vstup .apply p {
    width: 677px;
  }
}
@media screen and (max-width: 768px) {
  .vstup {
    background-color: #2C3034;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }
  .vstup img {
    width: 450px;
    height: 387px;
  }
  .vstup .apply {
    margin-left: 0px;
    align-items: center;
  }
  .vstup .apply h3 {
    width: 450px;
  }
  .vstup .apply p {
    width: 450px;
  }
}
@media screen and (max-width: 475px) {
  .vstup {
    background-color: #2C3034;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }
  .vstup img {
    width: 300px;
    height: 258px;
  }
  .vstup .apply {
    margin-left: 0px;
    align-items: center;
  }
  .vstup .apply h3 {
    width: 300px;
    font-size: 30px;
  }
  .vstup .apply p {
    margin-top: 30px;
    width: 300px;
    font-size: 20px;
  }
  .vstup .apply button {
    font-size: 22px;
  }
}
.map-section {
  background-color: #2C3034;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map-section h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.map-section iframe {
  width: 70%;
  border-radius: 20px;
}

.partners {
  background-color: #923541;
  padding: 40px 20px;
}

.our_partners {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.companies {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.companies .img {
  height: 90px;
}

footer {
  background-color: #2C3034;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location {
  margin-right: 100px;
}
.location svg {
  fill: #923541;
  width: 198px;
  height: 116px;
}
.location li {
  margin-top: 10px;
}
.location li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.contacts {
  margin: 74px 50px 0 0;
}
.contacts p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #923541;
}
.contacts ul {
  margin-top: 33px;
}
.contacts ul li {
  margin-top: 10px;
}
.contacts ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.main_footer {
  margin: 74px 50px 0 0;
}
.main_footer p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #923541;
}
.main_footer ul {
  margin-top: 33px;
}
.main_footer ul li {
  margin-top: 10px;
}
.main_footer ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.social-media {
  margin: 74px 0px 0 0;
}
.social-media p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #923541;
}
.social-media ul {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-media ul .icon-div {
  width: 42px;
  height: 42px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.2s ease-in-out;
}
.social-media ul .icon-div:hover {
  border: 1px solid #923541;
}
.social-media ul .icon-div svg {
  fill: #FFFFFF;
  width: 14px;
  height: 14px;
  transition: fill 0.2s ease-in-out;
}
.social-media ul .icon-div:hover svg {
  fill: #923541;
}

.right {
  margin-top: 40px;
}
.right p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.right hr {
  width: 768px;
}

@media screen and (max-width: 900px) {
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
  .location {
    margin-right: 40px;
  }
  .contacts {
    margin: 74px 35px 0 0;
  }
  .contacts ul {
    margin-top: 33px;
  }
  .social-media {
    margin: 74px 0 0 0;
  }
  .social-media ul {
    margin-top: 33px;
  }
  .right hr {
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
  .location {
    margin-right: 40px;
  }
  .contacts {
    margin: 40px 35px 0 0;
  }
  .contacts ul {
    margin-top: 20px;
  }
  .main_footer {
    margin: 40px 50px 0 0;
  }
  .main_footer ul {
    margin-top: 20px;
  }
  .main_footer ul li {
    margin-top: 10px;
  }
  .social-media {
    margin: 40px 0 0 0;
  }
  .social-media ul {
    margin-top: 20px;
  }
  .right hr {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .right hr {
    width: 280px;
  }
}/*# sourceMappingURL=main.css.map */