@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: #25274D;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .container .logo {
  display: flex;
  align-items: center;
}
header .container .logo svg {
  fill: #ffffff;
  height: 50px;
  width: 100px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.header-nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.header-nav a:after {
  background-color: #AAABB8;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header-nav a:hover:after, .header-nav a :focus:after {
  width: 100%;
}
.header-nav a:hover {
  color: #AAABB8;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.menu {
  display: none;
}

@media (max-width: 769px) {
  .header-nav {
    display: none;
  }
  /* Гамбургер иконка */
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .menu-btn span {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  /* Меню, которое будет появляться */
  .menu {
    display: block;
    position: fixed;
    width: 100%;
    padding: 15px;
    padding: 1rem 0;
    top: 0;
    left: 0;
    background-color: #25274D;
    border-bottom: 2px solid #ffffff;
    transform: translateY(-100%);
    transition: transform 0.5s;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu-items {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu-items a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
  }
  .menu-items a:hover {
    color: #AAABB8;
  }
}
.hero {
  background-image: url(../photos/bg-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10rem 0;
  margin-top: 5rem;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 20px;
}
.hero .container h3 {
  font-family: "Ledger";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #ffffff;
}
.hero .container svg {
  fill: #ffffff;
  height: 70px;
}
.hero .container p {
  font-family: "Ledger";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.hero .container hr {
  width: 300px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}
.hero .container img {
  height: 40px;
}

@media (max-width: 769px) {
  .hero {
    margin-top: 5rem;
  }
  .hero .container {
    gap: 15px;
  }
  .hero .container h3 {
    font-size: 44px;
  }
  .hero .container svg {
    height: 50px;
  }
  .hero .container p {
    font-size: 18px;
  }
  .hero .container hr {
    width: 250px;
  }
  .hero .container img {
    height: 30px;
  }
}
@media (max-width: 376px) {
  .hero {
    margin-top: 5rem;
  }
  .hero .container {
    gap: 10px;
  }
  .hero .container h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .hero .container svg {
    height: 40px;
  }
  .hero .container p {
    font-size: 18px;
  }
  .hero .container hr {
    width: 200px;
  }
  .hero .container img {
    height: 20px;
  }
}
.page-bg {
  background-image: url(../photos/bg-photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
}
.page-bg .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.page-bg hr {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}

@media (max-width: 769px) {
  .page-bg {
    padding: 20px 0;
  }
  .page-bg .container {
    gap: 20px;
  }
}
@media (max-width: 376px) {
  .page-bg {
    padding: 25px 0;
  }
  .page-bg .container {
    gap: 25px;
  }
}
.study {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.study h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.study-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.study-block {
  width: 200px;
  background-color: #29658A;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  transition: 0.3s filter ease-in-out;
}
.study-block:hover {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.5));
}
.study-block svg {
  width: 60px;
  height: 60px;
  fill: #ffffff;
}
.study-block h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.study-block p {
  width: 146px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 769px) {
  .study {
    gap: 20px;
  }
  .study h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .study-blocks {
    gap: 30px;
  }
  .study-block {
    width: 180px;
    padding: 20px;
    gap: 15px;
  }
  .study-block svg {
    width: 50px;
    height: 50px;
  }
  .study-block h4 {
    font-size: 18px;
    line-height: 23px;
  }
  .study-block p {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 376px) {
  .study {
    gap: 25px;
  }
  .study h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .study-blocks {
    gap: 20px;
  }
  .study-block {
    width: 160px;
    padding: 20px;
    gap: 10px;
  }
  .study-block svg {
    width: 40px;
    height: 40px;
  }
  .study-block h4 {
    font-size: 16px;
    line-height: 23px;
  }
  .study-block p {
    font-size: 12px;
    line-height: 19px;
  }
}
.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.programs h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.study-programs {
  padding: 30px;
  background-color: #AAABB8;
  border-radius: 20px;
}

.study-program-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
  padding: 10px 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #25274D;
}

.study-program-block:nth-child(2n) {
  background-color: #29658A;
  border-radius: 10px;
  color: #ffffff;
}

@media (max-width: 769px) {
  .programs {
    gap: 20px;
  }
  .programs h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .study-programs {
    padding: 20px;
  }
  .study-program-block {
    gap: 20px;
    padding: 5px 10px;
    font-size: 18px;
  }
}
@media (max-width: 376px) {
  .programs {
    gap: 25px;
  }
  .programs h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .study-programs {
    padding: 10px;
  }
  .study-program-block {
    gap: 10px;
    padding: 5px 5px;
    font-size: 14px;
  }
}
.vstup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.vstup img {
  width: 500px;
  border-radius: 20px;
}

.admission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.admission h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #2D9CCA;
}
.admission p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.admission button {
  width: 250px;
  background-color: transparent;
  border: 3px solid #2D9CCA;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.admission button:hover {
  background-color: #ffffff;
  color: #2D9CCA;
}

@media (max-width: 1001px) {
  .vstup img {
    width: 400px;
  }
  .admission {
    gap: 15px;
  }
  .admission h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .admission p {
    font-size: 20px;
    line-height: 24px;
  }
  .admission button {
    width: 220px;
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 769px) {
  .vstup {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .vstup img {
    width: 400px;
  }
  .admission {
    width: 400px;
    gap: 20px;
    align-items: center;
  }
  .admission h3 {
    font-size: 34px;
    line-height: 40px;
  }
  .admission p {
    font-size: 18px;
    line-height: 20px;
  }
  .admission button {
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 464px) {
  .vstup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .vstup img {
    width: 300px;
  }
  .admission {
    width: 300px;
    gap: 15px;
    align-items: center;
  }
  .admission h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .admission p {
    font-size: 14px;
    line-height: 18px;
  }
  .admission button {
    width: 180px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 376px) {
  .vstup {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
  .vstup img {
    width: 240px;
  }
  .admission {
    width: 240px;
    gap: 10px;
    align-items: center;
  }
  .admission h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .admission p {
    font-size: 12px;
    line-height: 16px;
  }
  .admission button {
    width: 160px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
  }
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.map h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}
.map iframe {
  width: 90%;
  border-radius: 20px;
}

@media (max-width: 769px) {
  .map {
    gap: 20px;
  }
  .map h3 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 376px) {
  .map {
    gap: 25px;
  }
  .map h3 {
    font-size: 28px;
    line-height: 30px;
  }
}
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.partners h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}

.companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.companies svg {
  width: 300px;
  height: 80px;
}

@media (max-width: 769px) {
  .partners {
    gap: 20px;
  }
  .partners h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .companies {
    gap: 20px;
  }
  .companies svg {
    width: 187.5px;
    height: 50px;
  }
}
@media (max-width: 464px) {
  .partners {
    gap: 20px;
  }
  .partners h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .companies {
    gap: 20px;
  }
  .companies svg {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 376px) {
  .partners {
    gap: 25px;
  }
  .partners h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .companies {
    gap: 25px;
  }
  .companies svg {
    width: 112.5px;
    height: 30px;
  }
}
footer {
  background-color: #25274D;
  padding: 1rem 0;
}
footer hr {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}

.description {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.description p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}
.description a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2D9CCA;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.description a:hover {
  color: #AAABB8;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.contacts, .navigation, .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.location svg {
  fill: #ffffff;
  height: 50px;
  width: 100px;
}
.location ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-div {
  background-color: transparent;
  border: 1px solid #2D9CCA;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.icon-div svg {
  width: 20px;
  height: 20px;
  fill: #2D9CCA;
  margin: 0 auto;
}
.icon-div:hover {
  background-color: #ffffff;
}

.right p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #2D9CCA;
}

@media (max-width: 769px) {
  footer hr {
    margin-top: 20px;
  }
  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .description p {
    font-size: 14px;
    line-height: 19px;
  }
  .description a {
    font-size: 10px;
    line-height: 14px;
  }
  .contacts, .navigation, .social-media {
    margin-top: 35px;
  }
  .icon-div {
    width: 36px;
    height: 36px;
    border-radius: 6px;
  }
  .icon-div svg {
    width: 18px;
    height: 18px;
  }
  .right p {
    font-size: 10px;
    line-height: 20px;
  }
}
@media (max-width: 376px) {
  footer hr {
    margin-top: 15px;
  }
  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .description p {
    font-size: 12px;
    line-height: 19px;
  }
  .description a {
    font-size: 10px;
    line-height: 14px;
  }
  .contacts, .navigation, .social-media {
    margin-top: 35px;
  }
  .social-media ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .icon-div {
    width: 32px;
    height: 32px;
    border-radius: 5px;
  }
  .icon-div svg {
    width: 16px;
    height: 16px;
  }
  .right p {
    font-size: 10px;
    line-height: 20px;
  }
}/*# sourceMappingURL=main.css.map */