header{
    background-color: $bg-primary;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        gap: 30px;

        .logo{
            display: flex;
            align-items: center;
            svg{
                fill: $text-primary;
                height: 50px;
                width: 100px;
            }
        }

        .header-nav{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            
            a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                color: $text-primary;
                transition: color .3s ease-in-out;

                text-decoration: none;
                cursor: pointer;
                position: relative;

                &:after{
                    background-color: $text-accent;
                    display: block;
                    content: "";
                    height: 3px;
                    width: 0%;
                    -webkit-transition: width .3s ease-in-out;
                    -moz--transition: width .3s ease-in-out;
                    transition: width .3s ease-in-out;
                }

                &:hover:after, :focus:after{
                    width: 100%;
                }

                &:hover, .active{
                    color: $text-accent;
                    text-decoration: solid;
                }
                
            }

        }
    }
}