.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main{
    flex-grow: 1;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 2rem;
}