.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: $text-primary;
    }
}

.companies{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    svg{
        height: 80px;
    }
}
