.vstup{
    display: flex;
    justify-content: center;
    gap: 30px;
    
    img{
        width: 500px;
    }
}

.admission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: $text-secondary;
    }
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $text-primary;
    }
    button{
        width: 250px;
        background-color: transparent;
        border: 3px solid $text-secondary;
        color: $text-primary;
        cursor: pointer;
        border-radius: 10px;  
        padding: 15px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        transition: background-color .3s, color .3s;

        &:hover{
            background-color: $text-primary;
            color: $text-secondary;
        }
    }


}

