// :root {
//     --primary: #923541;
//     --secondary: #14213d;
//     --accent: #fca311;
//     --bg-primary: #000000;
//     --bg-secondary: #390823;
//     --bg-accent: #fca311;
//     --bg-inverse: #ffffff;
//     --text-white: #fff;
//     --text-primary: #e5e5e5;
//     --text-secondary: #fca311;
//     --text-accent: #000000;
// }

//!colors:
//! #25274D - #464866 - #AAABB8 - #2E9CCA - #29648A

$bg-primary: #25274D;

$text-primary: #ffffff;
$text-secondary: #2D9CCA;
$text-accent: #A9ABB8;

$cards-primary: #29658A;
$text-black: #000000;